<html>
    <head>
        <%- include ../common/scripts.ejs %>
    </head>
    <body>
        <%- include ../common/navbar.ejs %>
        <div class="col-lg">
<script>
    function sameAddress(){
            var address = document.querySelectorAll('#address').values;
            // document.querySelectorAll('#address')
            for(let i=0;i<address.length;i++){
                document.querySelectorAll('#address').values = address;
            }
    }
// var product = document.querySelector('.product-price');
// product.readOnly = true;
</script>


<form method="POST" action="/buy/product/form/multi" > 
    <div class="row">
        <h1>YOUR COMMON DETAILS</h1><br />&emsp;&emsp;&emsp;&emsp;
    <input style="font-weight: 600;" type="text" disabled value="<%= sess.First_name %>" autofocus name="userfirstname">
    <input style="font-weight: 600;" type="text" disabled value="<%= sess.Last_name %>" name="userlastname">
    <input style="font-weight: 600;" type="text" disabled value="<%= sess.email %>" name="useremail">
</div>

    <% let i = 1; data.forEach((data)=>{  ;%>
            <h2>Product <%= i %></h2>
<div class="row">
    <div class="col-lg">
    <label  style="font-weight: 600;">Asin<input style="font-weight: 600;" class="form__field" readonly type="text" value="<%= data.Asin %>" name="userAsin">&emsp;&emsp;</label>
    <label  style="font-weight: 600;">Price<input style="font-weight: 600;" class="form__field" type="text" readonly  class="product-price" value="<%= data.Price %>" name="userPrice">&emsp;&emsp;</label>
    <label  style="font-weight: 600;">Quantity<input style="font-weight: 600;" class="form__field" type="number" placeholder="Product Quantity" name="userQuantity" min="0">&emsp;&emsp;</label>
</div>
<div class="col-lg">
   <input style="font-weight: 600;" class="form__field" type="textarea" value="Address" onfocus="this.value=''"  placeholder="Product Delivery Address" id="address" name="userAddress">&emsp;&emsp;
    <input style="font-weight: 600;" class="form__field" type="text" value="Zipcode" onfocus="this.value=''" placeholder="ZipCode" name="userZip"><br/>
    <input style="font-weight: 600;" class="form__field" type="hidden" name="PostedBy" value="<%= data.PostedBy %>">
    <input style="font-weight: 600;" class="form__field" type="hidden" name="PostedByemail" value="<%= data.PostedByemail %>">
</div>
</div>
<% i++ }) %>

<p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
    items to your cart does not mean booking them.</p>
<button class="example_f" type="submit" ><span>Order Now</span></button>


    

    



</form>
</div>
<%- include ../common/footer.ejs %>
</body>
</html>