<html>
    <head>
        <%- include ../common/scripts.ejs %>
    </head>
    <body>
        <%- include ../common/navbar.ejs %>
<script>
    function sameAddress(){
            var address = document.querySelectorAll('#address').values;
            // document.querySelectorAll('#address')
            for(let i=0;i<address.length;i++){
                document.querySelectorAll('#address').values = address;
            }
    }
// var product = document.querySelector('.product-price');
// product.readOnly = true;
</script>


<form method="POST" action="/buy/product/form/multi" > 
    <div class="row">
        <h1>YOUR COMMON DETAILS</h1><br />&emsp;&emsp;&emsp;&emsp;
    <input type="text" disabled value="<%= sess.First_name %>" name="userfirstname">
    <input type="text" disabled value="<%= sess.Last_name %>" name="userlastname">
    <input type="text" disabled value="<%= sess.email %>" name="useremail">
</div>

    <% let i = 1; data.forEach((data)=>{  ;%>
            <h2>Product <%= i %></h2>
<div class="row">
    <input readonly type="text" value="<%= data.Asin %>" name="userAsin">&emsp;&emsp;
    <input  type="text" readonly class="product-price" value="<%= data.Price %>" name="userPrice">&emsp;&emsp;
    <input type="number"  placeholder="Product Quantity" name="userQuantity" min="0">&emsp;&emsp;
    <input type="textarea"  placeholder="Product Delivery Address" id="address" name="userAddress">&emsp;&emsp;
    <input type="text"  placeholder="ZipCode" name="userZip"><br/>
    <input type="hidden" name="PostedBy" value="<%= data.PostedBy %>">
    <input type="hidden" name="PostedByemail" value="<%= data.PostedByemail %>">

</div>
<% i++ }) %>

<marquee>ONLY COD IS AVAILABLE</marquee>
<button class="example_f" type="submit" ><span>Order Now</span></button>


    

    



</form>
<<%- include ../common/footer.ejs %>
</body>
</html>